{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body>
   
    {% for profile in profiles %}
    <div class = "container" style="background-color:navajowhite;">
    
     <center><p>Name:{{profile.first_name}} - {{profile.last_name}}</p></center>
     
     <center><img src="{{profile.prof_image.url}}" alt="Image"></center><br><br>
     <center><p>Bio:{{profile.bio}}</p></center>
     
  
 
    </div>     
    <div class="row">
        <p class="text-center"><strong>PROJECTS I POSTED:</strong></p>
      
          {% for item in projects %}
      
          <div class="col-md-4">
      
            <center><h1>Title:"{{item.title}}"<h1></center>
      
            </div>
            {% endfor %}
  
      
      
          {% empty %}
          <h2 class="text-center">There are no posted projects </h2>
      
          {% endfor %}
        </div>
      
</body>
{% endblock %}




