{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if projects%}
      
    {% endif %}

  </div>

  <div class="row" style="background-color:navajowhite;">

  {% if projects %}
    {% for project in projects %}
    <div class="row">
      <center> <img src="{{project.image.url}}"  class="center" alt="Image"></center>
   </div>
   <div class="row">
    <center><h1 class="text-center">Title:{{project.title}}</h1></center>
   </div>
      
   <div class="row">
    <center><h1>Description:{{project.description}}</h1></center>
   </div>
   <center><h1>Link:<a href="{{project.link}}">{{project.link}}</a></h1></center>
   </div>
 
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
