{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

<body>
    <div class = "container">

      <div>

      <h1 class="well" >WELCOME TO THIS APP!!!</h1>

      

   </div>

            {% for project in projects %}
            
               <a href="/projects/{{project.id}}"><img src="{{project.image.url}}" alt="Image"></a>
               <h1>Title:{{project.title}}</h1>
               
            
         
            {% endfor %}
     </div>
</body>

</html>
{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}
