{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

<body>
    <div class = "container" style="background-color:navajowhite;" >

      <div>

     <center> <h1 class="well" color="green" >WELCOME TO THIS APP!!!</h1></center>

      

   </div>

            {% for project in projects %}
            
               <center><a href="/projects/{{project.id}}"><img src="{{project.image.url}}" alt="Image"></a></center>
               <center><h1>Title:{{project.title}}</h1></center>
            
               
            
         
            {% endfor %}
     </div>
</body>

</html>
{% endblock %}

